$breakpoint-tablet: 768px;

.contact-form {
    position:relative;
    width:50%;
    margin: 5px 10px 5px 10px;
    background-color:rgba(255,255,255,.5);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.contact-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-icons {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
        background-color:#23a6d5;
        color: black;
        
      }
}
.fa-logo{
    &:hover {
        cursor:pointer;
        color:white;
        
      }
}

@media (max-width: $breakpoint-tablet) {
    .contact-form {
       width: 50%;
    }
  }