.c {
    position: absolute;
    height: 60%;
    width: 25%;
    cursor: pointer;
    will-change: transform, opacity;
    justify-content: center;
    align-items: center;
    border-radius:.25em;
    
}

.card-title{
    color:yellow
}
      .front{
          
          background-color:rgba(17, 188, 231, 0.575);
          color:white;
      
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  