.controller {
    position: absolute;
    width:100%;
    bottom:10px;
    display:flex;
    justify-content: space-between;
    
}

.controller-left{
    
}
.controller-center{
    display: flex;
    align-items:center;
    width:50%;
}
.controller-right {
    display: flex;
    align-items:center;
}