$breakpoint-tablet: 768px;


.home-icon {
    position: absolute;
    left: 50px;
    top:50px;
    cursor: pointer;
    :hover{
        color:white;
    }
}
@media (max-width: $breakpoint-tablet) {
  .home-icon {
      left:5px;
      top:5px;
  }
}